/* Tailwind (optional) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal defaults if not using Tailwind */
html, body, #root { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
